@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("ubuntubold.woff2") format("woff2"),
    url("ubuntubold.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("ubuntumedium.woff2") format("woff2"),
    url("ubuntumedium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Rubik.woff2") format("woff2"),
  url("Rubik.woff") format("woff");
}


@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Rubikmedium.woff2") format("woff2"),
    url("Rubikmedium.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NunitoSans-Regular.woff2") format("woff2"),
  url("NunitoSans-Regular.woff") format("woff");
}
