.customize-card {
  font-family: Ubuntu, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 28px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  min-height: 584px;
  padding: 32px;
  margin: 0 0 96px;

  &__container-upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 32px;
  }

  &__container-upper-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
    border-right: 2px dashed rgba(128, 128, 128, 0.40);
  }

  &__lid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }

  &__steps {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-left: 20px;
  }

  &__spin {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #5B35D5;
    background: rgba(255, 255, 255, 0.00);
    min-height: 164px;
    padding: 24px 24px 41px;
  }

  &__spin-description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  &__spin-amount {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 20px 0;
  }

  &__container-upper-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
  }

  &__selected-amount {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  &__sum {
    color: #000;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: 16px;
    max-width: 220px;
    width: 100%;
    margin-top: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.20);
  }

  &__container-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__contact-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .customize-card__form {
    display: flex;
    gap: 16px;
    width: 100%;
    margin-top: 26px;
  }

  .customize-card__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .customize-card__input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .customize-card__lable {
    color: #1A202C;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .customize-card__lable-span {
    color: #F00;
  }

  .customize-card__input {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.20);
    background: #F9F5E3;
    padding: 13px 16px;
  }

  .customize-card__input:focus {
    border: 2px solid #5B35D5;
  }
  .customize-card__input.placeholder {
    color: #808080;
  }
}

@media screen and (max-width: 1100px)  {
  .customize-card {
    padding: 28px;
    margin: 0 0 80px;

    &__container-upper {
      margin-bottom: 28px;
    }

    &__container-upper-1 {
      padding-right: 30px;
      width: 70%;
    }

    &__lid {
      margin-bottom: 28px;
    }

    &__title {
      font-size: 26px;
      line-height: 26px;
    }

    &__steps {
      font-size: 14px;
      line-height: 18px;
    }

    &__spin {
      padding: 18px 18px 35px;
    }

    &__spin-description {
      font-size: 14px;
      line-height: 14px;
    }

    &__spin-amount {
      font-size: 14px;
      line-height: 14px;
      margin: 16px 0;
    }

    &__container-upper-2 {
      width: 30%;
      padding-left: 30px;
    }

    &__selected-amount {
      font-size: 16px;
      line-height: 16px;
    }

    &__sum {
      font-size: 14px;
      line-height: 14px;
      margin-top: 14px;
      padding-bottom: 8px;
    }

    &__contact-title {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 660px) {
  .customize-card {
    margin-bottom: 30px;

    &__container-upper {
      flex-direction: column;
    }

    &__container-upper-1 {
      width: 100%;
      padding-right: 0;
      border-right: none;
    }
    &__container-upper-2 {
      width: 100%;
      padding: 20px 0 0;
    }
  }
}
