@keyframes dropdown-appear {
  0% {
    opacity: 0;
    top: -50%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.header {
  font-family: Ubuntu, Arial, sans-serif;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 7px auto;
  padding: 0 100px;
  align-items: center;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }

  &__logo {
    color: #B4387A;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;
  }

  &__logo:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 40px;
    margin: auto;
  }

  &__link {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    color: #1D1929;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;

    &_active {
      color: #B2A35F;
    }
  }

  &__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
    text-align: center;
    color: #FFF;
    background-color: #003CFF;
    border: none;
    border-radius: 16px;
    width: 128px;
    height: 50px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;
  }

  &__button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__button-burger {
    display: none;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

@media screen and (max-width: 920px) {
  .header {
    padding: 7px 50px;

    &__lang-link {
      font-size: 18px;
      line-height: 20px;
    }

    &__button-burger_close {
      display: block;
      order: -1;
      background-image: url("../../../../common/assets/icon/close__menu.svg");
    }

    &__button-burger_open {
      display: block;
      background-image: url("../../../../common/assets/icon/header__menu.svg");
    }

    &__menu {
      flex-direction: column;
      align-items: flex-start;
      background: #F5F4FF;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      overflow: hidden;
      width: 230px;
      z-index: 1;
      position: absolute;
      top: -8px;
      right: 0;
      max-height: 0;
      transition: max-height 0.5s ease-out, padding-top 0.4s ease;

      &_active {
        max-height: 500px;
        padding-top: 10px;
      }
    }

    &__links {
      flex-direction: column;
      order: 3;
      margin: 0;
    }

    &__button {
      font-size: 18px;
      width: 140px;
      order: 2;
      margin: 0 10px 0;
      padding: 0;
    }

    &__link {
      font-size: 20px;
      padding: 16px 22px;
      text-decoration: none;
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 7px 15px;

    &__menu {
      align-items: center;
    }

    &__links {
      align-items: center;
    }

    &__logo {
      font-size: 18px;
      line-height: 90%;
      margin: 0;
      padding: 0;
    }

    &__menu {
      width: 100%;
    }

    &__dropdown-content {
      min-width: 120px;
    }

    &__button-burger {
      width: 30px;
      height: 30px;
      top: -6px;
    }
  }
}
