.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Ubuntu, Arial, sans-serif;
}

.map__title {
  color: #1C1C1C;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin: 0;
}

.map__offer {
  color: #1C1C1E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin: 8px 0 48px;
}

.map__global {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 920px) {
  .map__title {
    font-size: 26px;
    line-height: 45px;
  }

  .map__offer {
    font-size: 14px;
    line-height: 45px;
    margin: 8px 0 36px;
  }
}

@media screen and (max-width: 920px) {
  .map__title {
    font-size: 22px;
    line-height: 35px;
  }

  .map__offer {
    font-size: 12px;
    line-height: 35px;
    margin: 8px 0 16px;
  }
}
